* {
  font-family: sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-color: #303030;
}

h1 {
  font-size: 40px;
  margin-bottom: 0px;
}

.logo {
  width: 100%;
  max-width: 320px;
  margin-bottom: 0px;
}

.hyperlinkimage {
  max-width: 128px;
  margin: 5px;
}

#box {
  padding: 20px;
  margin: 20px auto;
  margin-top: 0px;
  max-width: 320px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #606060;
}
